<h3>{{title}}</h3>
<hr/>

<!-- FILTROS -->
<div class="row">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-block widget-body">
                <form class="form">
                    <div class="row">
                        <div class="form-group col-9">
                            <label>Buscar</label>
                            <input name="text" class="form-control" type="text" #text="ngModel" [(ngModel)]="clientFilter.text">
                        </div>

                        <div class="form-group col-3">
                            <br>
                            <button class="btn btn-primary btn-block" type="submit" (click)="searchClients()">Consultar</button>
                        </div>                        
                    </div>

                    <!--div class="row">
                        <div class="form-group col-6">
                            <label>Nombre</label>
                            <input name="name" class="form-control" type="text" #name="ngModel" [(ngModel)]="userFilter.name">
                        </div>
                        <div class="form-group col-6">
                            <label>Telefono</label>
                            <input name="phone" class="form-control" type="text" #phone="ngModel" [(ngModel)]="userFilter.phone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label>Correo</label>
                            <input name="email" class="form-control" type="text" #email="ngModel" [(ngModel)]="userFilter.email">
                        </div>
                        <div class="form-group col-6">
                            <label>Rol</label>
                            <select class="form-control custom-select" type="text" name="role" #role="ngModel" [(ngModel)]="userFilter.role">
                                <option value="0" selected></option>
                                <option value="1">Administrador</option>
                                <option value="2">Gerente de Sucursal</option>
                                <option value="3">Asistente</option>
                            </select>  
                        </div>
                    </div>     
                    
                    <div class="row">
                        <div class="form-group col-6">
                            <label>Estado</label>
                            <select class="form-control custom-select" type="text" name="active" #active="ngModel" [(ngModel)]="userFilter.active">
                                <option value=null selected></option>
                                <option value=true>Activo</option>
                                <option value=false>Inactivo</option>
                            </select>                                
                        </div>

                        <div class="form-group col-6">
                            <label>Sucursal</label>
                            <select class="form-control custom-select" type="text" name="subsidiary" #subsidiary="ngModel" [(ngModel)]="userFilter.subsidiary">
                                <option value="0" selected></option>
                                <option value="1">Obregon</option>
                                <option value="2">Girasol</option>
                                <option value="3">Reforma</option>
                                <option value="4">Dila</option>
                                <option value="3">Olivares</option>
                                <option value="3">Luis Orci</option>
                            </select>  
                        </div>
                    </div-->                    
                    
                    <!--div class="form-group col-12">
                        <button class="btn btn-primary btn-block" type="submit" (click)="searchClients()">Consultar</button>
                    </div-->
                </form> 
            </div>
        </div>
    </div>
</div>

<!-- TABLA SMART-->
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <!--h5 class="mb-0">Users Table</h5-->      
    </div>
    <div class="card-block pt-0 widget-body">
        <div class="table-responsive">
            <ng2-smart-table  class="table table-hover"
                              [settings]="settings" 
                              [source]="clients" 
                              (edit)="updateClient($event)"
                              (custom)="changeClientStatus($event)"></ng2-smart-table>
        </div>          
    </div>
</div>

<!-- MODAL WINDOW TO CREATE AND UPDATE ITEMS -->
<ng-template #modalClient>
    <div class="modal-header">
        {{title}}
    </div>
    <div class="modal-body">
                <form #formClient="ngForm" class="form-horizontal">
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Nombre*</label>
                        <!--input type="text" #name="ngModel" name="name" [(ngModel)]="client.name" class="form-control"-->
                        <input type="text" #name="ngModel" name="nombre" [(ngModel)]="client.nombre" class="form-control">
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Telefono*</label>
                        <input type="text" #phone="ngModel" name="phone" [(ngModel)]="client.phone" class="form-control">
                    </div>                      
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Correo</label>
                        <input type="text" #email="ngModel" name="email" [(ngModel)]="client.email" class="form-control">
                    </div>  
                    <div class="form-group col-md-12 col-lg-12">
                        <label>País</label>
                        <select class="form-control custom-select" type="text" name="country" #country="ngModel" [(ngModel)]="client.country">
                            <option value="0" selected></option>
                            <option value="1">Mexico</option>
                        </select>                          
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Estado</label>
                        <select class="form-control custom-select" type="text" name="state" #state="ngModel" [(ngModel)]="client.state">
                            <option value="0" selected></option>
                            <option value="1">Sonora</option>
                        </select>                          
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Ciudad</label>
                        <select class="form-control custom-select" type="text" name="city" #city="ngModel" [(ngModel)]="client.city">
                            <option value="0" selected></option>
                            <option value="1">Obregon</option>
                        </select>                        
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Colonia</label>
                        <select class="form-control custom-select" type="text" name="colony" #colony="ngModel" [(ngModel)]="client.colony">
                            <option value="0" selected></option>
                            <option value="1">Colonia1</option>
                            <option value="2">Colonia2</option>
                        </select>                          
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Dirección</label>
                        <input type="text" #address="ngModel" name="address" [(ngModel)]="client.address" class="form-control">
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Código Postal</label>
                        <input type="text" #zip="ngModel" name="zip" [(ngModel)]="client.zip" class="form-control">                     
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>RFC</label>
                        <input type="text" #rfc="ngModel" name="rfc" [(ngModel)]="client.rfc" class="form-control">
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Sucursal*</label>
                        <select class="form-control custom-select" type="text" name="subsidiary" #subsidiary="ngModel" [(ngModel)]="client.subsidiary">
                            <option value="0" selected></option>
                            <option value="1">Obregon</option>
                            <option value="2">Girasol</option>
                            <option value="3">Reforma</option>
                            <option value="4">Dila</option>
                            <option value="3">Olivares</option>
                            <option value="3">Luis Orci</option>
                        </select>  
                    </div>                     
                    <!--div class="form-group col-md-12 col-lg-12">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input checkbox-primary" type="checkbox" #active="ngModel" name="active" [(ngModel)]="client.active">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Activo</span>
                        </label>
                    </div--> 
                    <div class="row">
                        <div class="form-group col-12">
                            <button type="submit" *ngIf="mode == 'add'" (click)="addItem()" class="btn btn-primary btn-block">Agregar Cliente</button> 
                        </div> 
                        <div class="form-group col-12">
                            <button type="button" *ngIf="mode == 'update'" (click)="createOrUpdateClient()" class="btn btn-info btn-block">Modificar Cliente</button>  
                            <button type="button" *ngIf="mode == 'update'" (click)="cancelItemUpdate()" class="btn btn-danger btn-block">Cancelar Modificación</button>
                        </div>
                    </div>
                </form>         
    </div>
</ng-template>

<!-- BUTTONS -->
<br>
<button *ngIf="clients" class="btn btn-warning" (click)="exportToExcel()">Excel</button>