<h3>{{title}}</h3>
<hr/>

<div class="row">
	<div class="col-12 mb-4">
		<div widget class="card border-0 box-shadow">
			<div class="card-block widget-body">
				
				<form #formCreateUser="ngForm" (ngSubmit)="createDate()" class="form">

					<div class="row">

                        <div class="form-group col-md-12 col-lg-6">
                            <label>Cliente*</label>
                            <select class="form-control custom-select" type="text" name="client" #client="ngModel" [(ngModel)]="appointment.client">
                                <option value="0" selected></option>
                                <option value="1">Cliente 1</option>
                                <option value="2">Cliente 2</option>
                                <option value="3">Cliente 3</option>
                            </select>  
                        </div>
                        
                        <div class="form-group col-md-12 col-lg-6">
                            <label>
                                Fecha*
                            </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="aaaa-mm-dd" name="date" [displayMonths]="'1'" [navigation]="'select'" ngbDatepicker #date="ngbDatepicker" [(ngModel)]="appointment.date" (ngModelChange)="onChangeDate()">
                                <div class="input-group-addon" (click)="date.toggle()">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>

					</div>

					<div class="row">
						<div class="form-group col-md-12 col-lg-6">
							<label>
								Notas
							</label>
                            <textarea type="text" #notes="ngModel" name="notes" [(ngModel)]="appointment.notes" class="form-control" required></textarea>
						</div>		

						<div class="form-group col-md-12 col-lg-6">
							<br>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" #retaken="ngModel" name="retaken" [(ngModel)]="appointment.retaken" class="custom-control-input checkbox-primary">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Reagendada</span>
							</label>
						</div>	
					</div>

					<div class="row">	
                        
                        <div class="form-group col-md-12 col-lg-6">
                            <label>Sucursal*</label>
                            <select class="form-control custom-select" type="text" name="subsidiary" #subsidiary="ngModel" [(ngModel)]="appointment.subsidiary">
                                <option value="0" selected></option>
                                <option value="1">Obregon</option>
                                <option value="2">Girasol</option>
                                <option value="3">Reforma</option>
                                <option value="4">Dila</option>
                                <option value="3">Olivares</option>
                                <option value="3">Luis Orci</option>
                            </select>  
                        </div>

					</div>

					<br>
					<div class="row" align="right">
						<div class="form-group col-md-12 col-lg-12">
							<input type="submit" value="{{title}}" class="btn btn-primary">
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<!--AGREGAR SERVICIOS-->
<div class="col-12">
    <button class="btn btn-primary" (click)="addServiceModal(modalService)">Agregar Servicio</button>
</div>

<!--MODAL SERVICIO-->
<ng-template #modalService>
    <div class="modal-header">
        {{titleService}}
    </div>
    <div class="modal-body">
                <form #formService="ngForm" class="form-horizontal">
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Hora</label>
                        <ngb-timepicker name="time" [(ngModel)]="appointmentService.time" [meridian]="true"></ngb-timepicker>                     
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Servicio</label>                        
                        <select class="form-control custom-select" type="text" #service="ngModel" name="service" 
                        [(ngModel)]="appointmentService.service">
                            <option value="00" selected></option>
                            <option value="01">Corte</option>
                            <option value="02">Depilación</option>
                        </select>                         
                    </div>   
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Estado</label>
                        <select class="form-control custom-select" type="text" #state="ngModel" name="state" 
                        [(ngModel)]="appointmentService.state">
                            <option value="00" selected></option>
                            <option value="01">Agendada</option>
                            <option value="02">Confirmada</option>
                            <option value="03">Iniciada</option>
                        </select> 
                    </div>                       
                    <br>
                    <div class="row">
                        <div class="form-group col-12">
                            <button type="submit" *ngIf="mode == 'add'" (click)="addService()" class="btn btn-primary btn-block">Agregar Servicio</button> 
                        </div> 
                        <div class="form-group col-12">
                            <button type="button" *ngIf="mode == 'update'" (click)="updatePaymentMethod(paymentMethod.id)" class="btn btn-info btn-block">Modificar Servicio</button>  
                            <button type="button" *ngIf="mode == 'update'" (click)="cancelPaymentMethodUpdate()" class="btn btn-danger btn-block">Cancelar Modificación</button>
                        </div>
                    </div>
                </form>         
    </div>
</ng-template>

<!--CITAS AGENDADAS-->
<br>
<div class="row" *ngIf="appointment.date">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-block widget-body table-responsive">
                <!--Si no hay citas-->
                <h5 *ngIf="appointmentServices[0] == null">No hay citas agendadas el {{appointment.date.year}}-{{appointment.date.month}}-{{appointment.date.day}}</h5>
                <!--Si hay citas-->
                <div *ngIf="appointmentServices">
                    <h5>Citas agendadas el {{appointment.date.year}}-{{appointment.date.month}}-{{appointment.date.day}}</h5>
                    <br>
                    <table class="table table-bordered col-lg-6">
                        <thead>
                            <tr>
                                <th>HORA</th>
                                <th>ESTADO</th>
                                <th>TELEFONO</th>
                                <th>NOMBRE</th>
                                <th>SERVICIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appointmentService of appointmentServices; let i = index;">
                                <td>{{appointmentService.time}}</td>
                                <td>{{appointmentService.state}}</td>
                                <td>{{appointmentService.phone}}</td>
                                <td>{{appointmentService.name}}</td>
                                <td>{{appointmentService.service}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>                    