<h3>{{title}}</h3>
<hr/>

<div class="col-12">
    <div id="accordion-1" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-clock-o"></i> 9:00 <i class="fa fa-phone"></i> 6621032140 <i class="fa fa-user"></i> Silvia Rubio 
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <div class="col-lg-12 mb-4">
              <ul class="list-group">
                <li class="list-group-item">9:00 - 9:30    Angendada - Gel Color Manos</li>
                <li class="list-group-item">9:30 - 10:30    Angendada - Corte</li>
                <li class="list-group-item">10:30 - 11:00    Angendada - Depilación</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-clock-o"></i> 9:00 <i class="fa fa-phone"></i> 6621032140 <i class="fa fa-user"></i> Wisi Merier 
            </a>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <div class="col-lg-12 mb-4">
              <ul class="list-group">
                <li class="list-group-item">9:00 - 9:30    Angendada - Gel Color Manos</li>
                <li class="list-group-item">9:30 - 10:30    Angendada - Corte</li>
                <li class="list-group-item">10:30 - 11:00    Angendada - Depilación</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
                      
</div>